package ${packageName};

#set($BaseDomain = "BaseSimpleDomain")
#foreach($column in ${table.columns})
## 是否存在ID字段
#if($column.camelName == "id")
#set($hasid = true)
#end
## 获取主键字段
#if($column.isPrimaryKey)
#set($pkcolumn = $column)
#end
## 排序处理
#if($table.sort)
#set($BaseDomain = "BaseSortedDomain")
#end
#end

#foreach($im in ${importList})
import ${im};
#end
import com.injedu.core.domain.${BaseDomain};

/**
 * ${table.desc}
 *
 * @author: ${constant_creator}
 * @date: ${date}
 * @version ${constant_version}
 */
public class ${entityGeneratedShotClassName} extends $BaseDomain{

	private static final long serialVersionUID = 1L;

## 生成实体属性
#foreach($column in ${table.columns})
#if(!$baseColumns.contains(${column.name}))
#if(${column.comment} && $column.comment.length() > 0)
	/** ${column.comment} */
#end
	private ${column.javaType} ${column.camelName};
#end
#end

## 生成生成id getter/setter方法
#if(!$hasid)
	public void setId(Long id){
		this.${pkcolumn.camelName} = id;
	}
	public Long getId() {
		return ${pkcolumn.camelName};
	}
#end
## 生成getter/setter
#foreach($column in ${table.columns})
#if(!$baseColumns.contains(${column.name}))

    public ${column.javaType} get${column.firstUpperName}() {
        return ${column.camelName};
    }

    public void set${column.firstUpperName}(${column.javaType} ${column.camelName}) {
        this.${column.camelName} = ${column.camelName};
    }
    
#end
#end

}